* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
html {
    scroll-behavior: smooth;
}

.father {
    margin: 25px;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 1px dashed #11ffff;
}

.child-margin-padding {
    padding: 25px;
    margin: 25px;
    /* margin: 25px 25px 25px 25px;
    margin: 25px 25px; */
    padding: 25px;


    background-color: aquamarine;
    border: 1px solid black;
}


.box {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */
    border: 1px solid black;
}

.m1 {
    margin: 10px;
    border: 1px solid black;
}


.grow {
    flex-grow: 1;
}